<div class="parent">
    <div class="child">
        <div>
            <h1 style='font-family: "Montserrat";font-weight: 500;' class="typing-demo">
                Welcome!......</h1>
                <br>
            <h1 style='font-family: "Montserrat";font-weight: 500;'>
                Please Authenticate
            </h1>
        </div>
        
        <div class="lower">
            <div>
                <button mat-button routerLink="login" class="logbtn">
                    <mat-icon>login</mat-icon>
                    Login
                </button>
            </div>
            
            <div class="or">
                <p>OR</p>   
            </div>
            
            <div>
                <button mat-raised-button color="primary" routerLink="/sign-up" class="logbtn">
                    Sign Up!
                </button>
            </div>
        </div>
    </div>
</div>
