<div class="body">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <div>
                    <h1 style='font-family: "Dosis";font-size: 10em'>404</h1>
                </div>

                <div class="mid">
                    <h1 style='font-family: "Dosis";font-size: 3em'>Not Found</h1>
                </div>

                <div class="error-actions">
                    <button mat-button routerLink="/" class="logbtn">
                        <mat-icon>home</mat-icon>
                        Home
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>